/* cover backgroung image  */
.honda-bg-secondary{
    background-image: url(images/head.jpg);
    width: 100%;

}

/* button design */
.honda-btn-primary{
    background-image: linear-gradient(rgba(231, 111, 81, 1),rgba(231, 111, 81,1));
    width: 180px;
    height: 44px;
    border-radius: 8px;
    
}
/* body image */
body{
    background-image: url(images/back.jpg);
}
/* grayscale section background */
.honda-bg-primary{
    background-image: url(images/bg.jpg);
}
 /* colorful font */
.honda-text-warning{
  color:  rgba(231, 111, 81, 1)
}

/* card background */

.honda-bg-white{
    background-image: url(images/cust.jpg);
}


/* fontawesome rating style */

.rating i {
    color: #a2a2a2;
}
.rating .checked {
    color: orangered
}